
/*********************/
/** General Styling **/
/*********************/
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

p, a, li, figcaption, th, td, input, label, select {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 150%;
}


hr {
    background-color: rgba(0,0,0,.12); 
    height: 1px; 
    border: 0; 
    /* background-color: red; height: 1px; border: 0;  */
}

/* body */
body {
    padding: 0 2%;
}

.section-2 {
    display: grid;
    grid-template-columns: 32% 2% 32% 2% 32%;
}

.section-2 div a {
    text-decoration: none;
    color: #3c3c3c;
}
